.container {  
    background-image: url('https://wallpaperaccess.com/full/1732235.jpg');

    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .addToCart_btn{
    background-color: teal;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration:double;
  }
 