.restro {
    background-image: url('https://png.pngtree.com/background/20211217/original/pngtree-aesthetic-plain-background-with-pastel-colors-picture-image_1596087.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }